* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

/* container */
.container {
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

/* chaos area */
.chaos {
    position: relative;
    width: 400px;
    height: 200px;

    .box {
        position: absolute;
        width: 80px;
        height: 80px;
        background: #111;
        color: #fff;
        display: grid;
        place-items: center;
        font-size: 2rem;
        border-radius: 12px;
        animation-duration: 1s;
        animation-fill-mode: both;

        &:nth-child(1) { animation-name: move-1; }
        &:nth-child(2) { animation-name: move-2; }
        &:nth-child(3) { animation-name: move-3; }
        &:nth-child(4) { animation-name: move-4; }
    }
    
}



/* FINAL ORDERED POSITIONS */
@keyframes move-1 {
  from { transform: translate(-200px, -150px) rotate(40deg); }
  to   { transform: translate(0, 0) rotate(0); }
}

@keyframes move-2 {
  from { transform: translate(180px, -120px) rotate(-30deg); }
  to   { transform: translate(100px, 0) rotate(0); }
}

@keyframes move-3 {
  from { transform: translate(-150px, 130px) rotate(-45deg); }
  to   { transform: translate(200px, 0) rotate(0); }
}

@keyframes move-4 {
  from { transform: translate(220px, 160px) rotate(60deg); }
  to   { transform: translate(300px, 0) rotate(0); }
}

